<?xml version="1.0"?>
<launch>

	<arg name="rosbag" default="false" />	

	<node pkg="kinpro_interaction" type="kinpro_interaction" name="kinpro_interaction" output="screen" >
		<param name="cloud_in" type="string" value="/camera/depth_registered/points" />
		<param name="filter_min" type="double" value="0.0" />
		<param name="filter_max" type="double" value="1.3" />
		<param name="use_concave_hull" type="bool" value="true" />
		<param name="concave_alpha" type="double" value="0.05" />
		<param name="plane_dist_thresh" type="double" value="0.4" />
		<param name="line_length_thresh" type="double" value="0.1" />
		<param name="moving_average_size" type="double" value="5" />
		<param name="max_point_distance" type="double" value="0.01" />
	</node>

	<group if="$(arg rosbag)" >
		<node pkg="rosbag" type="play" name="player" args="/home/sysadm/rosbags/finger_pointing.bag -l">
		</node>
	</group>
</launch>
