<?xml version="1.0"?>
<launch>

	<arg name="rosbag_camera" default="false" />

	<group unless="$(arg rosbag_camera)" >
		<!-- launch the camera -->
		<include file="$(find kinpro_launch)/launch/camera.launch">
			<arg name="dreg" value="true"/>
			<arg name="driver" value="true"/>
		</include>

		<!-- launch the fovis visual odometry node -->
		<include file="$(find kinpro_launch)/launch/fovis.launch">
			<arg name="publish_tf" value="false" />
			<arg name="camera" value="camera" />
		</include>

		<!-- launch the monte carlo localization node -->
		<include file="$(find kinpro_launch)/launch/mcl_localization.launch">
			<arg name="point_cloud_topic" value="/camera/depth_registered/points"/>
			<!--arg name="point_cloud_topic" value="/cloud_pcd"/-->
		</include>

		<!-- launch rviz -->
		<!--include file="$(find kinpro_launch)/launch/rviz.launch">
			<arg name="config_file" value="/home/sysadm/.rviz/kinect_dreg.rviz"/>
		</include-->

		<!-- launch the interaction node -->
		<include file="$(find kinpro_launch)/launch/interaction.launch">
			<arg name="rosbag" value="false"/>
		</include>

	</group>
	<group if="$(arg rosbag_camera)" >
		<!-- launch the camera without driver -->
		<include file="$(find kinpro_launch)/launch/camera.launch">
			<arg name="dreg" value="true"/>
			<arg name="driver" value="false" />
		</include>

		<!-- launch the rosbag -->
		<include file="$(find kinpro_launch)/launch/rosbag.launch"/>

		<!-- launch the topic replacement node -->
		<include file="$(find kinpro_launch)/launch/rosbag2pointcloud.launch"/>

		<!-- launch the fovis visual odometry node -->
		<include file="$(find kinpro_launch)/launch/fovis.launch">
			<arg name="publish_tf" value="false" />
			<arg name="camera" value="rosbag_cam" />
		</include>

		<!-- launch the monte carlo localization node -->
		<include file="$(find kinpro_launch)/launch/mcl_localization.launch">
			<!--arg name="point_cloud_topic" value="/rosbag_cam/depth_registered/points"/-->
			<arg name="point_cloud_topic" value="/cloud_pcd"/>
		</include>

		<!-- launch rviz -->
		<include file="$(find kinpro_launch)/launch/rviz.launch">
			<arg name="config_file" value="/home/sysadm/.rviz/kinect_dreg_rosbag.rviz"/>
		</include>

	</group>

	
	<!-- launch the static tf transforms -->
	<include file="$(find kinpro_launch)/launch/tf_base2camlink.launch">
		<arg name="kinfu" value="false"/>
		<arg name="fovis" value="true"/>
	</include>

	<!-- launch the octomap server -->
	<include file="$(find kinpro_launch)/launch/octomap_server.launch">
		<!--arg name="map" value="/home/sysadm/octomaps/Lab/PKM_lab_wall_02_clean_0-01.bt"/-->
		<!--arg name="map" value="/home/sysadm/octomaps/033/14-11-12/033_stitched_merged_0-02.bt"/-->
		<arg name="map" value="/home/sysadm/octomaps/033/room033_added_wall.bt"/>
	</include>

	<!-- launch the imu dummy node -->
	<include file="$(find kinpro_launch)/launch/imu_dummy.launch">
	</include>

	<!-- launch the odometry combination node from robot_pose_ekf-->
	<!--include file="$(find kinpro_launch)/launch/odom_ekf.launch">
		<arg name="visual_odometry_topic" value="/kinect_odometer/odometry" />
		<arg name="output_odometry_topic" value="/odom_combined" />
	</include-->

	<!-- launch the odometry combination node from robot_localization (ekf_acc for acceleration inclusion)-->
	<include file="$(find kinpro_launch)/launch/ekf_acc.launch">
		<arg name="visual_odometry_topic" value="/kinect_odometer/odometry" />
		<arg name="imu_topic" value="/imu" />
	</include>
	
</launch>
