<?xml version="1.0"?>
<launch>
	<!-- launch the camera -->
	<!--include file="$(find kinpro_launch)/launch/camera.launch">
		<arg name="dreg" value="true"/>
	</include-->
	
	<!-- launch the static tf transforms -->
	<include file="$(find kinpro_launch)/launch/tf_base2camlink.launch">
		<arg name="kinfu" value="false"/>
		<arg name="fovis" value="true"/>
	</include>

	<!-- launch the octomap server -->
	<include file="$(find kinpro_launch)/launch/octomap_server.launch">
		<arg name="map" value="/home/sysadm/octomaps/PKM_Lab_rgbdslam_0-05.bt"/>
	</include>

	<!-- launch the imu dummy node -->
	<include file="$(find kinpro_launch)/launch/imu_dummy.launch">
	</include>

	<!-- launch the fovis visual odometry node -->
	<include file="$(find kinpro_launch)/launch/fovis.launch">
		<arg name="publish_tf" value="false" />
	</include>

	<!-- launch the monte carlo localization node -->
	<include file="$(find kinpro_launch)/launch/mcl_localization.launch">
		<arg name="point_cloud_topic" value="/camera/depth_registered/points"/>
	</include>

	<!-- launch the odometry combination node from robot_pose_ekf-->
	<!--include file="$(find kinpro_launch)/launch/odom_ekf.launch">
		<arg name="visual_odometry_topic" value="/kinect_odometer/odometry" />
		<arg name="output_odometry_topic" value="/odom_combined" />
	</include-->

	<!-- launch the odometry combination node from robot_localization (ekf_acc for acceleration inclusion)-->
	<include file="$(find kinpro_launch)/launch/ekf_acc.launch">
		<arg name="visual_odometry_topic" value="/kinect_odometer/odometry" />
		<arg name="imu_topic" value="/imu" />
	</include>
	
	<!-- launch rviz -->
	<include file="$(find kinpro_launch)/launch/rviz.launch">
		<arg name="config_file" value="/home/sysadm/.rviz/kinect_dreg.rviz"/>
	</include>
</launch>
