<?xml version="1.0"?>
<!-- currently the kinfuLS app has to be started seperately due to conflicting workspaces! --> 
<launch>
	<!-- launch the camera -->
	<!--include file="$(find kinpro_launch)/launch/camera.launch">
		<arg name="dreg" value="false"/>
	</include-->
	
	<!-- launch the static tf transforms -->
	<include file="$(find kinpro_launch)/launch/tf_base2camlink.launch">
		<arg name="kinfu" value="false"/>
		<arg name="fovis" value="true"/>
	</include>

	<!-- launch the octomap mapping -->
	<include file="$(find kinpro_launch)/launch/octomap_mapping.launch">
		<arg name="point_cloud_topic" value="/camera/depth_registered/points" />
		<arg name="map" value="" />
		<arg name="latch" value="false" />
		<arg name="frame_id" value="/map" />
	</include>

	<!-- launch the fovis visual odometry node -->
	<include file="$(find kinpro_launch)/launch/fovis.launch">
	</include>
	
	<!-- launch rviz -->
	<include file="$(find kinpro_launch)/launch/rviz.launch">
		<arg name="config_file" value="/home/sysadm/.rviz/kinect_dreg.rviz"/>
	</include>
</launch>
