<?xml version="1.0"?>
<launch>
	<arg name="map" default="" />
	<arg name="frame_id" default="/odom" />
	<arg name="max_range" default="10.0" />
	<arg name="latch" default="true" />
	<arg name="point_cloud_topic" default="/camera/depth/points" />
	<arg name="resolution" default="0.02" />
	
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(arg map)">
		<param name="resolution" value="$(arg resolution)" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) - default: /odom_combined  -->
		<param name="frame_id" type="string" value="$(arg frame_id)" />
		
		<!-- maximum range to integrate (speedup!) - default: 5.0 -->
		<param name="sensor_model/max_range" value="$(arg max_range)" />

		<!-- set latch parameter - default: true -->
		<param name="latch" value="$(arg latch)" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="$(arg point_cloud_topic)" />
	
	</node>
</launch>
